/* Adicionando uma classe para a animação de entrada */
.zoom-in {
  transform: scale(0);
  animation: zoomIn 1s ease-in-out forwards;
}

/* Definindo a animação de entrada */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}







/* Estilos padrão (modo claro) */
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Cor de fundo do corpo */
  color: #000000; /* Cor do texto */
}

/* Estilos para o modo noturno */
.dark-mode body {
  background-color: #333333; /* Cor de fundo do corpo no modo noturno */
  color: #ffffff; /* Cor do texto no modo noturno */
}

/* Estilos para os cards */
.ui-card {
  width: 230px;
  height: 400px;
  max-height: 100vh;
  background-color: #ccc;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin: 10px;
  border: 1px solid #E81E62
}

/* Estilos para o botão de alternar tema */
#toggle-theme {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}






.heading {
  text-align: center;
  color: #E81E62;
  margin-bottom: 3rem;
}

.heading h1 {
  padding: -90px;
  margin-bottom: 5px;
}

.heading h6 {
  margin: 0;
}

.heading p {
  margin: 0;
}






.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.ui-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(146, 3, 122, 0.5);
}

/* Exemplo de imagem de fundo para o card 1 */
.ui-card:nth-child(1) {
  background-image: url('https://i.ibb.co/FYBqVhT/DIV-1.jpg');
}

/* Exemplo de imagem de fundo para o card 2 */
.ui-card:nth-child(2) {
  background-image: url('https://i.ibb.co/M5nMdLR/DIV-2.jpg');
}

/* Exemplo de imagem de fundo para o card 3 */
.ui-card:nth-child(3) {
  background-image: url('https://i.ibb.co/rkNG30R/DIV-3.jpg');
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .ui-card:hover {
    transform: scale(1.1); /* Aumenta o tamanho do card em 10% */
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(146, 3, 122, 0.5);
  }
  .ui-card::after {
    transform: scale(1.0); /* Aumenta o tamanho do card em 10% */
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(146, 3, 122, 0.5);
  }
}


@media screen and (min-width: 320px){
  .typewriter {
    overflow: hidden;
    border-right: .1em solid rgb(177, 0, 103);
    white-space: nowrap;
    margin-bottom: 20px; /* Espaço entre os cards e o texto */
    letter-spacing: .15em;
    animation: typing 3.5s steps(70, end), blink-caret .89s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 16% }
  }
  
  .typewriter p{
    font-size: 9px;
  }
  p{
    font-size: 1px;
  }

}



